@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');

:root {
  --a: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
  background-color: white;
  
}



.flex {
  display: flex;


}

.justify-center {
  justify-content: centre;
}

.items-centre {
  align-items: centre;
}

.left {
  margin: 0;
  width: 17vw;
  padding: 20px;
  min-height: 100vh;

  border: 1px solid rgb(215, 215, 215);
}

.right {

  width: 83vw;
}

.home ul li {

  list-style: none;
  gap: 10px;
  display: flex;
  color: rgb(85, 85, 85);

}

.topnav input[type=text] {
  width: 120px;
  border-radius: 3px;
  border-width: 1px;

  border-color: rgb(192, 192, 192);
  border-style: none;
  margin-top: 2px;
  margin-right: 16px;
  font-size: 12px;
}


.logo {
  margin-top: -2px;

  margin-left: 10px;

}


.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-top: 22px;
  margin-left: 8px;
  height: 30px;
  width: 200px;
  border: 1px solid rgb(218, 218, 218);
}

.topnav svg {
  margin-top: 0px;
  margin-right: 6px;
  margin-left: -25px;

}

.topnav ul {
  margin-top: 25px;
}

.home ul li {
  margin: 10px;
}

.playbar {
  margin-bottom: 25px;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 55px;
  border-bottom: 1px solid rgb(219, 219, 219);
  z-index: 2;

}

.songbuttons {
  display: flex;
  margin-left: 100px;
  padding-top: 15px;
  height: 30px;

}

.songbuttons img {
  cursor: pointer;
}

.browse {
  font-family: "Open Sans", sans-serif;
  margin-top: 85px;
  margin-left: 40px;
  font-weight: 690;
  font-size: 33px;
  color: rgb(35, 35, 35);
  letter-spacing: -1px;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 5px;
  width: 1000px;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: row;
}



.sec1 {
 
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 12px;
  gap: 2px;

  width: 50%;
}

.sec1 li {
  list-style: none;
  font-size: 11px;
  color: rgb(123, 123, 123);
  font-weight: 600;
}

.sec1 #rap {
  color: black;
  font-size: medium;
  font-weight: 500;
}

.sec1 #am {
  font-weight: 400;
  font-size: medium;
}

.play{

  top: 135px;
  left: 5px;

  width: 35px;
  height: 35px;
  position: absolute;
  opacity: var(--a);

}

.contain1 {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 450px;
  height: 280px;
  background-image: url(img/drake-family-matters.jpg);
  background-color: #ffffff;
background-repeat: no-repeat;
  background-size: 450px 280px;
  border-radius: 8px;
  
  cursor: pointer;

}

.contain1:hover {
  --a: 1;
  opacity: 90%;

}


.sec2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 12px;
  gap: 2px;

  width: 50%;
}

.sec2 li {
  list-style: none;
  font-size: 11px;
  color: rgb(123, 123, 123);
  font-weight: 600;
}

.sec2 #rap {
  color: black;
  font-size: medium;
  font-weight: 500;
}

.sec2 #am {
  font-weight: 400;
  font-size: medium;
}

.contain2 {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 450px;
  height: 280px;
  background-image: url(img/not\ like\ us.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 500px 300px;
  cursor: pointer;
  border-radius: 8px;
  
  

}

.contain2:hover {
  --a: 1;
  opacity: 90%;

}

.pp {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.pp .p {
  margin-bottom: 15px;
  font-weight: 700;
}

.pp .box {
  display: flex;
  flex-direction: row;
  gap: 42px;
  height: 230px;
  flex-wrap: nowrap;

}

.box #box1 {
  height: 10px;
  width: 150px;
  position: relative;
  cursor: pointer;
}

.box #box1 img {
  width: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box1:hover {
  opacity: 85%;
  --a: 1;
}



.contain1 > .play {
  margin-top: 210px;
  margin-left: 520px;

  
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: var(--a);

}

.contain2 > .play {
  margin-top: 210px;
  margin-left: 1040px;

  
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: var(--a);

}

.pp h2 {
  font-size: small;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

.pp p {
  font-size: small;
  font-weight: 400;
  color: grey;
}


.box #box2 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box2 img {
  width: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box2:hover {
  opacity: 85%;
  --a: 1;
}


.box #box3 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box3 img {
  width: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box3:hover {
  opacity: 85%;
  --a: 1;
}


.box #box4 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box4 img {
  width: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box4:hover {
  opacity: 85%;
  --a: 1;
}


.box #box5 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box5 img {
  width: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box5:hover {
  opacity: 85%;
  --a: 1;
}



.seekbar {
  margin-top: 40px;
  margin-left: 80px;
  height: 2px;
  background-color: rgb(152, 152, 152);
  width: 400px;
  border: 1px solid rgb(152, 152, 152);
  cursor: pointer;
}

.sb {
  margin-top: -1px;
  margin-left: -1px;
  height: 2px;
  background-color: rgb(255, 0, 0);
  width: 0%;
  border: 1px solid rgb(255, 0, 0);
transition: width 0.2s ;

}

.circle {
  position: relative;
  margin-top: -6px;
  padding-right: 2px;
  margin-left: -2px;
  left: 0%;


  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 5px;
  transition: left 0.2s;
  cursor: pointer;
}

.songList ul {
visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 13px;
}

.songList li {
cursor: pointer;
  color: #ffffff;
  display: flexf;
  padding-left: 20px;
  padding: 8px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(219, 23, 23);
  font-size: medium;
  list-style: none;
}

.songinfo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  left: 350px;
  height: 20px;
  width: 250px;
  padding-top: 0px;
  font-size: small;
  font-weight: 600;
  color: red;
  border-style: ridge;
border-width:1px;
border-color: red;
border-radius: 6px;

}

.volume {
  display: flex;
  flex-direction: row;

  margin-top: 15px;
  margin-left: 50px;
  gap: 10px;
}

.volume img {
  margin-top: 4px;
  height: 25px;
}




.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 3px;
  background: #acacac;
  cursor: pointer;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 9px;
  height: 7px;
  background: #ff0303;
  cursor: pointer;
  border-radius: 10px;
}

.sign {
  background-color: #dd0404;
  height: 30px;
  margin-left: 15px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 8px;
  padding: 4px 20px 0px 20px;
  border-radius: 10px;
  font-weight: 600;

}

.sign a {
  text-decoration: none;
  color: #ffffff;
}






/* TABLET */
@media only screen and (max-width: 1024px) {

 .songList ul {
  visibility: hidden;
  
 }
.section {
  justify-content: center;
  align-items: center;
  display: flex;
  
  flex-direction: column;
}
.topnav{
  margin-left: 10px;
  width: 110px;
}
.topnav input[type=text] {
  width: 40px;



}
}

/* MOBILE */
@media only screen and (max-width: 600px) {


  .home p{
   visibility: hidden;
  }
.home input{ 
visibility: hidden;  


}
.topnav {
  visibility: collapse;
 margin-left: -30px;
border-color: white;
margin-top: 0px;
  width: 80px;
}
.topnav svg{
 
  margin-right: -100px;
  

}
.home ul{
margin-top: -20px;
}

.logo {
  margin-top: 2px;
height: 20px;
width: 10px;
  margin-left: -15px;

}
.logo img{
  margin-left: 20px;
  margin-top: -20px;
  height: 60px;
  width: 40px;
}



.section {
  margin-left: -80px;
  justify-content:left;
  align-items: left;
  display: flex;
  
  flex-direction: column;
}


.sec1 li {
  list-style: none;
  font-size: 7px;
  color: rgb(123, 123, 123);
  font-weight: 600;
}

.sec1 #rap {
  color: black;
  font-size: x-small;
  font-weight: 500;
}

.sec1 #am {
  font-weight: 400;
  font-size: x-small;
}


.contain1 {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  width: 200px;
  height: 120px;
  background-image: url(img/drake-family-matters.jpg);
  background-color: #ffffff;
background-repeat: no-repeat;
  background-size: 200px 120px;
  border-radius: 8px;
  
  cursor: pointer;

}



.sec2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 12px;
  gap: 2px;

  width: 50%;
}

.sec2 li {
  list-style: none;
  font-size: 7px;
  color: rgb(123, 123, 123);
  font-weight: 600;
}

.sec2 #rap {
  color: black;
  font-size: x-small;
  font-weight: 500;
}

.sec2 #am {
  font-weight: 400;
  font-size: x-small;
}

.contain2 {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 200px;
  height: 120px;
  background-image: url(img/not\ like\ us.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 200px 120px;
  cursor: pointer;
  border-radius: 8px;
  border-radius: 8px;
  
  

}






.pp .box {
 margin-left: 50px;
  flex-direction: column;
  gap: 140px;
  height: 200px;

}


.box #box1 {
  height: 10px;
  width: 100px;
  position: relative;
  cursor: pointer;
}

.box #box1 img {
  width: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box1:hover {
  opacity: 85%;
  --a: 1;
}




.contain1 > .play {
  margin-top: 196px; 
  margin-left: 137px;
  
  
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: var(--a);
  
}

.contain2 > .play {
  margin-top: 377px;
  margin-left: 120px;
  
  
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: var(--a);
  
}


.play{

  top: 21px;
  left: 22px;

  width: 35px;
  height: 35px;
  position: absolute;
  opacity: var(--a);

}
.pp h2 {
  font-size: small;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

.pp p {
  font-size: x-small;
  font-weight: 300;
  color: grey;

}
.pp .p{
  font-size: medium;
  margin-left: -30px;
}

.box #box2 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box2 img {
  width: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box2:hover {
  opacity: 85%;
  --a: 1;
}


.box #box3 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box3 img {
  width: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box3:hover {
  opacity: 85%;
  --a: 1;
}


.box #box4 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box4 img {
  width: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box4:hover {
  opacity: 85%;
  --a: 1;
}


.box #box5 {
  height: 10px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.box #box5 img {
  width: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.box #box5:hover {
  opacity: 85%;
  --a: 1;
}











.songbuttons{
  margin-left: 0px;
  margin-top: 7px;

}

.songbuttons img{
  height: 20px;
}

.seekbar{
  margin-left: 20px;
  width: 130px;
  height: 0px;

}

.songinfo {
margin-left: -260px;
width: 100px;
font-family: "Open Sans", sans-serif;
font-size: xx-small;



}

.volume{
  margin-left: 20px;
}
.volume img{
  height: 17px;
  width: 14px;
}

.range{
  width: 70px;
}







.sign{
  visibility: hidden;
}
.left{
  height: 1400px;
  padding: 0px;
  width: 50px;
 
}



.browse{
  font-family: "Open Sans", sans-serif;
  margin-top: 85px;
  margin-left: 4px;
  font-weight: 690;
  font-size: 18px;
  color: rgb(35, 35, 35);
  letter-spacing: -1px;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 5px;
  width: 300px;
}

.songList ul{
  visibility: hidden;
}


.playbar{
  width: 410px;
}












}